<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
      <key>CFBundleURLSchemes</key>
      <array>
        <!-- google login -->
        <string>com.googleusercontent.apps.243455349889-8j7t3mdug9q1fg62lsmtj2m5mbg4t54b</string>
      </array>
      </dict>
    </array>
    <!--gal: Required -->
    <key>NSPhotoLibraryAddUsageDescription</key>
  	<string>We need add only access to save medias</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>We need access to save medias</string>
    <!--gal: Required -->
    <key>NSPhotoLibraryUsageDescription </key>
    <string>사진첩 접근이 필요 합니다</string>
    <key>NSCameraUsageDescription </key>
    <string>카메라 접근이 필요 합니다</string>
    <key>NSMicrophoneUsageDescription </key>
    <string>접근이 필요 합니다</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Mapdesign Flutter</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>mapdesign_flutter</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>

	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>위치정보가 필요합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>위치정보가 필요합니다.</string>
    <key>NSLocationTemporaryUsageDescriptionDictionary</key>
    <dict>
      <key>YourPurposeKey</key>
      <string>The example App requires temporary access to the device&apos;s precise location.</string>
    </dict>
</dict>
</plist>
